.icon-map {
  display: block;
  background-color: white;
  text-align: center;
  color: #ed8074;
  font-size: 20px;
  padding: 15px 0;
}
.map-container {
  width: 375px;
  height: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .map-container {
    width: 600px;
  }
}
